@charset "UTF-8";
@font-face {
  font-family: "bogle-reg";
  font-display: swap;
  src: url("fonts/BOGLEREGULAR.ttf") format("truetype");
}
@font-face {
  font-family: "bogle-bold";
  font-display: swap;
  src: url("fonts/BOGLEBOLD.ttf") format("truetype");
}
@font-face {
  font-family: "bogle-black";
  font-display: swap;
  src: url("fonts/BOGLEBLACK.ttf") format("truetype");
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  color: #492974;
  font-weight: normal;
  width: 100%;
  max-width: 100%;
  font-family: "bogle-reg", sans-serif;
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (min-width: 992px) {
  body {
    font-size: 2rem;
  }
}

body, html {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}

p {
  line-height: 1.3;
  font-weight: normal;
  margin-top: 0;
}
p b {
  font-weight: bold;
  font-family: "bogle-black", sans-serif;
}
p a {
  text-decoration: underline;
}

figure {
  margin: 0;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media only screen and (min-width: 550px) {
  .wrap {
    padding: 0 30px;
  }
  .wrap--footer {
    padding: 0 15px;
  }
}
@media only screen and (min-width: 768px) {
  .wrap {
    max-width: 1250px;
    padding: 0 45px;
  }
  .wrap--footer {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 1250px) {
  .wrap {
    max-width: 1350px;
  }
}

.wrap-carrusel {
  padding: 0 15px;
}
@media only screen and (min-width: 992px) {
  .wrap-carrusel {
    width: 97%;
    margin: 0 auto;
  }
}

*, ::after, ::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.title-1 {
  color: #112342;
  font-family: "bogle-bold", sans-serif;
  font-size: 2.5rem;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 1.5;
  position: relative;
}
@media only screen and (min-width: 576px) {
  .title-1 {
    margin-top: 2rem;
  }
}
.title-1--white {
  color: #fff;
  margin: 0 0 2.5rem 0;
}
.title-1.about--title {
  animation: typing 5s steps(12) infinite;
  overflow: hidden;
}
.title-1.services--title {
  animation: typing 5s steps(9) infinite;
  overflow: hidden;
}
.title-1.performance--title {
  animation: typing 5s steps(14) infinite;
  overflow: hidden;
}

@keyframes typing {
  0%, 90%, 100% {
    width: 0;
  }
  30% {
    width: 50%;
  }
  50%, 70% {
    width: 100%;
  }
}
.title-2 {
  color: #6E39B7;
  font-weight: bolder;
  font-size: 3.5rem;
  margin: 2rem 0 1.5rem;
}
.title-2--mb0 {
  margin-bottom: 3rem;
}
.title-2--footer {
  color: #492974;
}

.btn {
  background-color: #E8E34A;
  border: none;
  color: #1C355E;
  font-size: 1.2rem;
  font-family: "bogle-bold", sans-serif;
  padding: 1.5rem 3.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  min-height: 4rem;
  position: relative;
}
.btn .btn__content {
  display: inline-flex;
  transform: translateY(2px);
  position: relative;
}
.btn .btn__content p {
  margin: 0;
}
.btn .btn__content img {
  transform: translateY(-1px);
  margin-left: 5px;
  width: 20px;
}
.btn:hover {
  background-color: #eeea77;
}
.btn:hover .btn__content img {
  transition: all 0.2s ease;
  transform: translate(5px, -1px);
}
.btn--purple {
  background-color: #6E39B7;
}
.btn--purple:hover {
  background-color: #8858cb;
}
.btn--purple .btn__content p {
  color: #fff;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #112342;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #284b85;
}

@media only screen and (min-width: 992px) {
  .pl-lg-7 {
    padding-left: 7rem;
  }
}

header {
  padding: 1.5rem 0;
  width: 100%;
  background-color: #6E39B7;
}
header .nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav__logo img {
  width: 70px;
  vertical-align: middle;
}
@media only screen and (min-width: 1080px) {
  header .nav__logo img {
    width: 107px;
  }
}

.navigation {
  display: none;
}
@media only screen and (min-width: 1080px) {
  .navigation {
    display: block;
  }
}
.navigation__wrap-list {
  padding: 0;
}
@media only screen and (min-width: 1080px) {
  .navigation__wrap-list {
    display: flex;
    margin: 1.1rem 0;
  }
  .navigation__wrap-list--contact {
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
}
.navigation__list {
  list-style: none;
  text-align: center;
  padding-bottom: 2rem;
}
@media only screen and (min-width: 1080px) {
  .navigation__list {
    padding: 0;
    text-align: initial;
    margin: 0 0 0 1.5rem;
  }
}
.navigation__item {
  color: #fff;
  display: block;
  text-transform: capitalize;
  position: relative;
}
@media only screen and (min-width: 1080px) {
  .navigation__item {
    font-size: 1.8rem;
  }
}
.navigation__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 8%;
  right: 8%;
  height: 2.5px;
  background: #EDEB8F;
  transform: scaleX(0);
  transition: transform 450ms ease-in-out;
}
.navigation__item:hover::after {
  transform: scale(1);
}
.navigation__item--contact {
  color: #E8E34A;
}

.mb-menu {
  width: 40px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: all 1s ease-in-out;
}
@media only screen and (min-width: 1080px) {
  .mb-menu {
    display: none;
  }
}
.mb-menu__hamburger {
  width: 80%;
  height: 5px;
  background-color: #E8E34A;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.mb-menu__hamburger::before, .mb-menu__hamburger::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 5px;
  background-color: #E8E34A;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.mb-menu__hamburger::before {
  transform: translateY(-10px);
}
.mb-menu__hamburger::after {
  transform: translateY(10px);
}
.mb-menu.activo .mb-menu__hamburger {
  transform: translateX(-20px);
  background: transparent;
  transition: all 0.5s ease-in-out;
}
.mb-menu.activo .mb-menu__hamburger::before {
  transform: rotate(45deg) translate(17px, -17px);
}
.mb-menu.activo .mb-menu__hamburger::after {
  transform: rotate(-45deg) translate(17px, 17px);
}
.mb-menu.activo ~ .navigation {
  animation: showMobileMenu cubic-bezier(0.77, 0, 0.175, 1) 1s;
  align-items: center;
  background-color: #6E39B7;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px );
  justify-content: center;
  position: absolute;
  top: 87px;
  right: 0;
  width: 100%;
  z-index: 10;
}
.mb-menu.activo ~ .navigation .navigation__wrap-list {
  flex-direction: column;
  align-items: center;
  transform: translateY(-15vh);
  transition: all 1s ease-in;
}

@keyframes showMobileMenu {
  0% {
    transform: translateX(100%);
    opacity: 0.3;
  }
  33% {
    opacity: 0.5;
  }
  75%, 100% {
    transform: translateX(0);
  }
}
.hero {
  background-color: #6E39B7;
  height: calc(100vh - 80px);
  min-width: 320px;
}
@media only screen and (max-width: 550px) {
  .hero {
    height: calc(95vh - 88px);
  }
}
.hero .row.wrap {
  height: 100%;
  width: 100%;
  position: relative;
}
@media only screen and (min-width: 992px) {
  .hero .row.wrap {
    display: flex;
    align-items: center;
  }
}
.hero__txt-banner {
  margin-top: 2rem;
  animation: show cubic-bezier(0.77, 0, 0.175, 1) 1.5s;
}
.hero__txt-banner h1 {
  color: #fff;
  font-family: "bogle-black", sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 576px) {
  .hero__txt-banner h1 {
    font-size: 3.5rem;
  }
}
.hero__txt-banner h1 span {
  -webkit-text-stroke: 2px #E8E34A;
  color: transparent;
}
@media only screen and (min-width: 992px) {
  .hero__txt-banner {
    margin: auto 0;
    height: 60%;
  }
}
.hero__figure {
  width: 100%;
}
.hero__figure img {
  width: 100%;
}
.hero__icon {
  position: absolute;
  right: 0;
  padding: 0 15px;
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .hero__icon {
    top: 55%;
    transform: translateY(-40%);
  }
}
@media only screen and (min-width: 576px) {
  .hero__icon {
    text-align: end;
    bottom: 8%;
  }
}
@media only screen and (min-width: 992px) {
  .hero__icon {
    bottom: 25px;
  }
}
.hero__icon img {
  width: 92%;
}
@media only screen and (min-width: 500px) {
  .hero__icon img {
    width: 80%;
  }
}
@media only screen and (min-width: 600px) {
  .hero__icon img {
    width: 62%;
  }
}
@media only screen and (min-width: 1130px) {
  .hero__icon img {
    width: 88%;
  }
}
@media only screen and (min-width: 1250px) {
  .hero__icon img {
    width: 94%;
  }
}
@media only screen and (min-height: 880px) {
  .hero__icon img {
    width: 790px;
  }
}
@media only screen and (min-height: 990px) {
  .hero__icon img {
    width: 600px;
  }
}
.hero__arrow {
  display: none;
}
@media only screen and (min-width: 576px) {
  .hero__arrow {
    display: block;
    position: absolute;
    padding: 0 15px;
    top: 50%;
    left: 10%;
  }
}
@media only screen and (min-width: 992px) {
  .hero__arrow {
    top: 60%;
    left: initial;
  }
}

@keyframes show {
  0% {
    transform: translateY(-50px);
    opacity: 0.2;
  }
  30% {
    opacity: 0.4;
  }
  50% {
    transform: translateY(30px);
    opacity: 1;
  }
  90%, 100% {
    transform: translateY(0);
  }
}
.about, .convenio, .team {
  background-color: #F7FDFE;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 8rem 0;
}
@media only screen and (min-width: 576px) {
  .about, .convenio, .team {
    min-height: calc(100vh - 200px);
  }
}
@media only screen and (min-width: 992px) {
  .about, .convenio, .team {
    min-height: calc(100vh - 80px);
  }
}
@media only screen and (min-width: 768px) {
  .about--title.fixed {
    position: fixed;
    top: 10vh;
  }
}
.about__txt {
  margin-bottom: 3rem;
}
@media only screen and (min-width: 992px) {
  .about__txt {
    padding: 0 20rem 0 0;
  }
}
.about__txt p {
  line-height: 28px;
}

.team {
  background-color: #fff;
}
.team__txt {
  align-self: center;
  color: #6E39B7;
}
.team__txt p {
  font-size: 2.5rem;
}
@media only screen and (min-width: 992px) {
  .team__txt p {
    font-size: 4rem;
  }
}
.team__txt p b {
  font-family: "bogle-black", sans-serif;
}
.team__wrap-icon {
  text-align: center;
}
.team__icon img {
  width: 85%;
  object-fit: contain;
}
@media only screen and (min-width: 600px) {
  .team__icon img {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .team__icon img {
    width: 90%;
  }
}

.services {
  background-color: #F7F8F8;
  min-height: 100vh;
  padding: 7rem 0 5rem 0;
}
@media only screen and (min-width: 576px) {
  .services {
    min-height: calc(100vh - 200px);
  }
}
@media only screen and (min-width: 992px) {
  .services {
    min-height: calc(100vh - 80px);
  }
}
@media only screen and (min-width: 992px) {
  .services__content {
    padding-right: 20%;
  }
}
.services__content p {
  line-height: 28px;
}
.services__title-icon {
  text-align: start;
}
@media only screen and (max-width: 576px) {
  .services__title-icon {
    margin-bottom: 3rem;
  }
}
.services__title-icon img {
  width: 78%;
  object-fit: contain;
}
@media only screen and (min-width: 992px) {
  .services__title-icon img {
    width: 80%;
  }
}
.services__icon {
  transform: translateX(-50px);
}
@media only screen and (min-width: 992px) {
  .services__icon {
    transform: translate(-90px, 55px);
  }
}

.areas {
  width: 100%;
  margin-top: 5rem;
}
.areas--mt1 {
  margin-top: 2rem;
}
@media only screen and (min-width: 576px) {
  .areas {
    margin-top: 6rem;
  }
}
.areas__title {
  text-align: center;
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 576px) {
  .areas__title {
    text-align: start;
    margin-bottom: 0;
  }
}
.areas__title h4 {
  color: #1C355E;
  font-family: "bogle-black", sans-serif;
  font-size: 2.1rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0;
}
@media only screen and (min-width: 576px) {
  .areas__title h4 {
    font-size: 1.8rem;
  }
}
.areas__wrap-list--mb {
  margin-bottom: 1.5rem;
}
.areas__list {
  margin: 0;
  padding: 0 0 0 1.5rem;
}
.areas__list li {
  font-size: 2rem;
  list-style: none;
  padding: 0 0 0.5rem 2rem;
  position: relative;
}
.areas__list li::before {
  content: "";
  background: url("../images/item-li.svg") no-repeat;
  position: absolute;
  height: 25px;
  width: 20px;
  left: 0;
  top: 5px;
}
.areas__separator {
  background: #fff;
  height: 5px;
  width: 90%;
  margin: 0 auto;
}
@media only screen and (min-width: 576px) {
  .areas__separator {
    margin: 0 0 0 1.5rem;
  }
}

.sell-more {
  background-color: #EDEB8F;
  padding: 6rem 0;
}
.sell-more__content {
  text-align: center;
}
.sell-more__content h3 {
  color: #6E39B7;
  font-family: "bogle-bold", sans-serif;
  font-size: 4rem;
  margin: 0 0 3rem 0;
}
@media only screen and (min-width: 576px) {
  .sell-more__content h3 {
    font-size: 4.8rem;
  }
}

.clients {
  padding: 14rem 0;
}
.clients .title-1 {
  transform: translateY(-35px);
}
.clients__item {
  margin: 0 5px;
}
.clients__item img {
  width: 150px;
  height: 65px;
  object-fit: contain;
}
.clients .filter {
  filter: grayscale(100%);
}

.carrusel {
  padding: 0 60px;
  position: relative;
  text-align: center;
}

.tns-controls button {
  background: #fff;
  border: 2px solid #D8E3E3;
  border-radius: 50%;
  color: #fff;
  font-size: 0;
  width: 45px;
  height: 45px;
  text-align: center;
  position: absolute;
}

.tns-controls button:first-child {
  left: 0;
  top: 25%;
}

.tns-controls button:last-child {
  right: 0;
  top: 25%;
}

.tns-controls button:after {
  content: "";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 22px;
}

.tns-controls button:first-child:after {
  content: "";
  color: #D8E3E3;
}

.tns-controls button:last-child:after {
  content: "";
  color: #D8E3E3;
}

.partners {
  padding: 7rem 0;
  background-color: #492974;
  color: #fff;
}
@media only screen and (min-width: 992px) {
  .partners {
    align-items: center;
    display: flex;
    min-height: 50vh;
    padding: 5rem 0;
  }
}
@media only screen and (min-width: 576px) {
  .partners__wrap-plataformas {
    margin: 0;
  }
}
.partners__plataformas {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .partners__plataformas--center {
    align-items: center;
    margin-top: 2rem;
  }
}
.partners__item {
  display: inline-flex;
  padding-bottom: 1rem;
}
@media only screen and (max-width: 768px) {
  .partners__item--mob-none {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  .partners__item--desk-none {
    display: none;
  }
}
.partners__item img {
  width: 20px;
  height: 18px;
}
.partners__item p {
  margin: 0 0 0 1rem;
}

.performance {
  min-height: 100vh;
  padding: 8rem 0 5rem 0;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 576px) {
  .performance {
    min-height: calc(100vh - 200px);
  }
}
@media only screen and (min-width: 992px) {
  .performance {
    min-height: calc(100vh - 80px);
  }
}
.performance__content p {
  line-height: 28px;
}
.performance__title-icon {
  text-align: start;
}
.performance__icon {
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .performance__icon {
    text-align: start;
  }
}
.performance__icon img {
  width: 85%;
  object-fit: contain;
  transform: translate(0, -15px);
}
@media only screen and (min-width: 992px) {
  .performance__icon img {
    width: 80%;
    transform: translate(-50px, -25px);
  }
}
.performance__wrap-list {
  padding: 0 15px;
  margin: 2.5rem 0 0;
}
@media only screen and (min-width: 992px) {
  .performance__wrap-list {
    margin: 3.5rem 0 0;
  }
}
.performance__list {
  padding: 0;
  margin: 0;
}
.performance__list li {
  list-style: none;
  position: relative;
  padding: 0 0 2rem 1rem;
}
.performance__list li::before {
  content: "";
  background: url("../images/item-li.svg") no-repeat;
  position: absolute;
  height: 25px;
  width: 20px;
  left: -15px;
  top: 5px;
}

.convenio {
  background-color: #F7F8F8;
}
.convenio__wrap-img {
  margin: 5rem 0 3rem;
}
@media only screen and (min-width: 576px) {
  .convenio__wrap-img {
    margin: 8.5rem 0 0;
  }
}
.convenio__wrap-img img {
  width: 80%;
  object-fit: contain;
}
@media only screen and (min-width: 992px) {
  .convenio__wrap-img img {
    width: 60%;
  }
}
.convenio--title {
  animation: typing 5s steps(14) infinite;
  overflow: hidden;
}
.convenio__data-title {
  text-align: center;
}
@media only screen and (min-width: 576px) {
  .convenio__data-title {
    text-align: initial;
  }
}
@media only screen and (min-width: 576px) {
  .convenio__data-comuni {
    margin: 7rem 0 0;
  }
}
@media only screen and (min-width: 576px) {
  .convenio__data-dev {
    margin: 4rem 0 0;
  }
}

.footer {
  background-color: #6E39B7;
  padding: 3.5rem 2rem;
  color: #fff;
}
.footer--align {
  align-items: center;
}
.footer__lfi-medios {
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .footer__lfi-medios {
    text-align: initial;
  }
}
.footer__lfi-medios img {
  width: 110px;
}
.footer__lfi-medios p {
  margin: 1.5rem 0 2rem;
}
.footer__lfi-contact {
  align-items: center;
  display: flex;
  margin: 0 0 2.1rem;
}
.footer__icon {
  margin: 0 1.7rem 0 0;
}
.footer__icon img {
  width: 30px;
}
.footer__txt-icon h5 {
  font-family: "bogle-bold", sans-serif;
  font-size: 1.8rem;
  margin: 0 0 0.3rem;
}
.footer__txt-icon p {
  font-size: 1.7rem;
  margin: 0;
}
.footer__rrss {
  align-items: center;
  display: flex;
  margin: 0 0 2.1rem;
}
@media only screen and (min-width: 576px) {
  .footer__rrss {
    justify-content: center;
  }
}
@media only screen and (min-width: 992px) {
  .footer__rrss {
    justify-content: initial;
  }
}
.footer__rrss-img--1 {
  margin: 0 1.7rem 0 0;
}
.footer__rrss-img--1 img {
  width: 34px;
}
.footer__rrss-img {
  margin: 0 1rem 0 0;
}
.footer__rrss-img img {
  width: 37px;
  filter: brightness(0) invert(1);
}
.footer__rrss-img img:hover {
  filter: brightness(100%) invert(0);
}
.footer__plataformas {
  margin: 1rem 0 3rem;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .footer__plataformas {
    text-align: initial;
  }
}
.footer__plataformas p {
  margin: 0;
}
.footer__wrap-logos {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media only screen and (min-width: 992px) {
  .footer__wrap-logos {
    justify-content: initial;
  }
}
.footer__logo--1 {
  margin-right: 30px;
}
.footer__logo--3 {
  transform: translate(0, 20px);
}
@media only screen and (min-width: 678px) {
  .footer__logo--3 {
    transform: translate(-15, 20px);
  }
}
@media only screen and (min-width: 992px) {
  .footer__logo--3 {
    transform: translate(-15px, 15px);
  }
}
.footer--lfi-logo {
  width: 110px;
}

.form {
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 3rem 2rem;
}
@media only screen and (min-width: 992px) {
  .form {
    padding: 4.5rem 2rem;
  }
}
.form__wrap-inputs {
  max-width: 95%;
  margin: 0 auto;
}
@media only screen and (min-width: 576px) {
  .form__wrap-inputs {
    max-width: 75%;
  }
}
.form__inputs {
  width: 100%;
  height: 4rem;
  border: none;
  border-bottom: 2px solid #501778;
  margin-bottom: 1.5rem;
  padding: 0.9rem 0.9rem 0.9rem 0.4rem;
  transition: all 0.5s ease;
}
.form__inputs:hover {
  border-color: #EDEB8F;
}
.form__inputs:focus {
  background: #f7f7f7;
  outline: 2px solid #501778;
  border-bottom: none;
}
.form__inputs--txt {
  height: 8rem;
  overflow: auto;
  resize: vertical;
}
.form__btn {
  cursor: pointer;
  margin-top: 1.5rem;
}
.form__btn:hover img {
  transition: all 0.2s ease;
  transform: translate(6px, 3px);
}
.form__btn img {
  transform: translate(3px, 3px);
}

/*# sourceMappingURL=styles.css.map */
