@font-face {
  font-family: "bogle-reg";
  font-display: swap;
  src: url("fonts/BOGLEREGULAR.ttf") format("truetype");
}
@font-face {
  font-family: "bogle-bold";
  font-display: swap;
  src: url("fonts/BOGLEBOLD.ttf") format("truetype");
}
@font-face {
  font-family: "bogle-black";
  font-display: swap;
  src: url("fonts/BOGLEBLACK.ttf") format("truetype");
}
html {
  font-size: 10px;
}

body {
  color: #492974;
  font-weight: normal;
  width: 100%;
  max-width: 100%;
  font-family: "bogle-reg", sans-serif;
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (min-width: 992px) {
  body {
    font-size: 2rem;
  }
}

body, html {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}

p {
  line-height: 1.3;
  font-weight: normal;
  margin-top: 0;
}
p b {
  font-weight: bold;
  font-family: "bogle-black", sans-serif;
}
p a {
  text-decoration: underline;
}

figure {
  margin: 0;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media only screen and (min-width: 550px) {
  .wrap {
    padding: 0 30px;
  }
}
@media only screen and (min-width: 768px) {
  .wrap {
    max-width: 1250px;
    padding: 0 45px;
  }
}
@media only screen and (min-width: 1250px) {
  .wrap {
    max-width: 1350px;
  }
}

*, ::after, ::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.title-1 {
  color: #112342;
  font-family: "bogle-bold", sans-serif;
  font-size: 2.5rem;
  margin-top: 0;
  letter-spacing: 4px;
  line-height: 1.5;
}
@media only screen and (min-width: 576px) {
  .title-1 {
    margin-top: 2rem;
  }
}

.title-2 {
  color: #6E39B7;
  font-family: "bogle-black", sans-serif;
  font-size: 3.5rem;
  margin-top: 2rem;
}
.title-2--mb0 {
  margin-bottom: 0;
}

.btn {
  background-color: #E8E34A;
  border: none;
  color: #1C355E;
  font-size: 1.2rem;
  font-family: "bogle-bold", sans-serif;
  padding: 1.5rem 3.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  min-height: 4rem;
}
.btn .btn__content {
  display: inline-flex;
  transform: translateY(2px);
  position: relative;
}
.btn .btn__content p {
  margin: 0;
}
.btn .btn__content img {
  transform: translateY(-1px);
  margin-left: 5px;
  width: 20px;
}
.btn:hover {
  background-color: #eeea77;
}
.btn:hover .btn__content img {
  transition: all 0.2s ease;
  width: 25px;
}
.btn--purple {
  background-color: #6E39B7;
}
.btn--purple:hover {
  background-color: #8858cb;
}
.btn--purple .btn__content p {
  color: #fff;
}

header {
  padding: 1.5rem 0;
  width: 100%;
  background-color: #6E39B7;
}
header .nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav__logo img {
  width: 58px;
  vertical-align: middle;
}
@media only screen and (min-width: 1080px) {
  header .nav__logo img {
    width: 75px;
  }
}

.navigation {
  display: none;
}
@media only screen and (min-width: 1080px) {
  .navigation {
    display: block;
  }
}
.navigation__wrap-list {
  padding: 0;
}
@media only screen and (min-width: 1080px) {
  .navigation__wrap-list {
    display: flex;
    margin: 1.1rem 0;
  }
  .navigation__wrap-list--contact {
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
}
.navigation__list {
  list-style: none;
  text-align: center;
  padding-bottom: 2rem;
}
@media only screen and (min-width: 1080px) {
  .navigation__list {
    padding: 0;
    text-align: initial;
    margin: 0 0 0 1.5rem;
  }
}
.navigation__item {
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-family: "bogle-black", sans-serif;
  position: relative;
}
@media only screen and (min-width: 1080px) {
  .navigation__item {
    font-size: 1.7rem;
  }
}
.navigation__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30%;
  right: 0px;
  height: 2.5px;
  background: #EDEB8F;
  transform: scaleX(0);
  transition: transform 450ms ease-in-out;
}
.navigation__item:hover::after {
  transform: scale(1);
}
.navigation__item--contact {
  color: #E8E34A;
}

.mb-menu {
  width: 40px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: all 1s ease-in-out;
}
@media only screen and (min-width: 1080px) {
  .mb-menu {
    display: none;
  }
}
.mb-menu__hamburger {
  width: 80%;
  height: 5px;
  background-color: #E8E34A;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.mb-menu__hamburger::before, .mb-menu__hamburger::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 5px;
  background-color: #E8E34A;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.mb-menu__hamburger::before {
  transform: translateY(-10px);
}
.mb-menu__hamburger::after {
  transform: translateY(10px);
}
.mb-menu.activo .mb-menu__hamburger {
  transform: translateX(-20px);
  background: transparent;
  transition: all 0.5s ease-in-out;
}
.mb-menu.activo .mb-menu__hamburger::before {
  transform: rotate(45deg) translate(17px, -17px);
}
.mb-menu.activo .mb-menu__hamburger::after {
  transform: rotate(-45deg) translate(17px, 17px);
}
.mb-menu.activo ~ .navigation {
  align-items: center;
  background-color: #6E39B7;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px );
  justify-content: center;
  position: absolute;
  top: 87px;
  transition: all 2s ease-in;
  right: 0;
  width: 100%;
  z-index: 10;
}
.mb-menu.activo ~ .navigation .navigation__wrap-list {
  flex-direction: column;
  align-items: center;
  transform: translateY(-15vh);
  transition: all 1s ease-in;
}

.hero {
  background-color: #6E39B7;
  height: calc(100vh - 80px);
  min-width: 320px;
}
@media only screen and (max-width: 550px) {
  .hero {
    height: calc(95vh - 88px);
  }
}
.hero .row.wrap {
  height: 100%;
  width: 100%;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .hero .row.wrap {
    display: flex;
    align-items: center;
  }
}
.hero__txt-banner {
  margin-top: 4rem;
}
@media only screen and (min-width: 768px) {
  .hero__txt-banner {
    margin-top: -20rem;
  }
}
@media only screen and (min-width: 992px) {
  .hero__txt-banner {
    margin: 0;
  }
}
.hero__figure {
  width: 100%;
}
.hero__figure img {
  width: 100%;
}
.hero__icon {
  position: absolute;
  right: 0;
  padding: 0 15px;
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .hero__icon {
    top: 50%;
    transform: translateY(-40%);
  }
}
@media only screen and (min-width: 576px) {
  .hero__icon {
    text-align: end;
    bottom: 8%;
  }
}
@media only screen and (min-width: 992px) {
  .hero__icon {
    bottom: 25px;
  }
}
.hero__icon img {
  width: 92%;
}
@media only screen and (min-width: 500px) {
  .hero__icon img {
    width: 80%;
  }
}
@media only screen and (min-width: 600px) {
  .hero__icon img {
    width: 75%;
  }
}
@media only screen and (min-width: 1130px) {
  .hero__icon img {
    width: 88%;
  }
}
@media only screen and (min-width: 1250px) {
  .hero__icon img {
    width: 94%;
  }
}
.hero__arrow {
  display: none;
}
@media only screen and (min-width: 576px) {
  .hero__arrow {
    display: block;
    position: absolute;
    padding: 0 15px;
    top: 50%;
    left: 10%;
  }
}
@media only screen and (min-width: 992px) {
  .hero__arrow {
    top: 60%;
    left: initial;
  }
}

.about, .team {
  background-color: #F7FDFE;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 8rem 0;
}
@media only screen and (min-width: 576px) {
  .about, .team {
    min-height: calc(100vh - 200px);
  }
}
@media only screen and (min-width: 992px) {
  .about, .team {
    min-height: calc(100vh - 80px);
  }
}
.about__txt {
  margin-bottom: 3rem;
}
@media only screen and (min-width: 992px) {
  .about__txt {
    padding: 0 20rem 0 0;
  }
}

.team {
  background-color: #fff;
}
.team__txt {
  align-self: center;
  color: #6E39B7;
}
.team__txt p {
  font-size: 2.5rem;
}
@media only screen and (min-width: 992px) {
  .team__txt p {
    font-size: 4rem;
  }
}
.team__txt p b {
  font-family: "bogle-black", sans-serif;
}
.team__wrap-icon {
  text-align: center;
}
.team__icon img {
  width: 80%;
  object-fit: contain;
}

.services {
  background-color: #F7F8F8;
  min-height: 100vh;
  padding: 7rem 0 5rem 0;
}
@media only screen and (min-width: 576px) {
  .services {
    min-height: calc(100vh - 200px);
  }
}
@media only screen and (min-width: 992px) {
  .services {
    min-height: calc(100vh - 80px);
  }
}
.services__title-icon {
  text-align: start;
}
@media only screen and (max-width: 576px) {
  .services__title-icon {
    margin-bottom: 3rem;
  }
}
.services__title-icon img {
  width: 80%;
  object-fit: contain;
}
@media only screen and (min-width: 992px) {
  .services__title-icon img {
    width: 70%;
  }
}
.services__icon {
  transform: translateX(-50px);
}
@media only screen and (min-width: 992px) {
  .services__icon {
    transform: translateX(-90px);
  }
}

.areas {
  width: 100%;
  margin-top: 3rem;
}
.areas--mt1 {
  margin-top: 2rem;
}
@media only screen and (min-width: 576px) {
  .areas {
    margin-top: 3.5rem;
  }
}
.areas__title {
  text-align: center;
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 576px) {
  .areas__title {
    text-align: start;
    margin-bottom: 0;
  }
}
.areas__title h4 {
  color: #1C355E;
  font-family: "bogle-black", sans-serif;
  font-size: 2.1rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0;
}
@media only screen and (min-width: 576px) {
  .areas__title h4 {
    font-size: 1.9rem;
  }
}
.areas__wrap-list--mb {
  margin-bottom: 1.5rem;
}
.areas__list {
  margin: 0;
  padding: 0 0 0 1.5rem;
}
.areas__list li {
  font-size: 2rem;
  list-style: none;
  padding: 0 0 0.5rem 2rem;
  position: relative;
}
.areas__list li::before {
  content: "";
  background: url("../images/item-li.svg") no-repeat;
  position: absolute;
  height: 25px;
  width: 20px;
  left: 0;
  top: 5px;
}
.areas__separator {
  background: #fff;
  height: 5px;
  width: 90%;
  margin: 0 auto;
}
@media only screen and (min-width: 576px) {
  .areas__separator {
    margin: 0 0 0 1.5rem;
  }
}

.sell-more {
  background-color: #EDEB8F;
  padding: 4rem 0;
}
.sell-more__content {
  text-align: center;
}
.sell-more__content h3 {
  color: #6E39B7;
  font-family: "bogle-bold", sans-serif;
  font-size: 4rem;
  margin: 0 0 1.5rem 0;
}
@media only screen and (min-width: 576px) {
  .sell-more__content h3 {
    font-size: 4.8rem;
  }
}

/*# sourceMappingURL=styles.css.map */
