.hero {
  background-color: $color-primary;
  height: calc(100vh - 80px);
  min-width: 320px;
  @include view-max(550px) {
    height: calc(95vh - 80px);
  }
  .row.wrap {
    height: 100%;
    width: 100%;
    position: relative;
    @include view-min(992px) {
      display: flex;
      align-items: center;
    }
  }
  &__txt-banner {
    margin-top: 4rem;
    @include view-min(992px) {
      margin: 0;
    }
  }

  &__figure {
    width: 100%;
    img {
      width: 100%;
    }
  }

  &__icon {
    position: absolute;
    bottom: 8%;
    right: 0;
    padding: 0 15px;
    text-align: center;
    @include view-min(576px) {
      text-align: end;
      bottom: 25px;
    }
    img {
      width: 92%;
      @include view-min(500px) {
        width: 70%;
      }
      @include view-min(1130px) {
        width: 90%;
      }
    }
  }

  &__arrow {
    position: absolute;
    padding: 0 15px;
    // left: 25px;
    top: 60%;
  }

}