@import "../components/buttons";

html {
  font-size: $basefontsize;
  scroll-behavior: smooth;
}

body {
  color: $color-fonts;
  font-weight: normal;
  width: 100%;
  max-width: 100%;
  font-family: $font-r;
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  @include view-min(992px) {
    font-size: 2rem;
  }
}

body,html {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

p {
  // font-size: $basefontsize;
  line-height: 1.3;
  font-weight: normal;
  margin-top: 0;
  b{
    font-weight: bold;
    font-family: $font-black;
  }
  a {
    text-decoration: underline;
  }
}

figure {
  margin: 0;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @include view-min(550px) {
    padding: 0 30px;
    &--footer {
      padding: 0 15px;
    }
  }
  @include view-min(768px){
    max-width: 1250px;
    padding: 0 45px;
    &--footer {
      padding: 0 20px;
     
    }
  }
  @include view-min(1250px) {
    max-width: 1350px;
  }
  // @include view-min(1350px) {
  //   padding: 0 35px;
  // }
}

.wrap-carrusel {
  padding: 0 15px;
  @include view-min(992px) {
    width: 97%;
    margin: 0 auto;
  }
}

*, ::after, ::before {
    box-sizing: border-box;
}

a {
  text-decoration: none;
}

.title-1 {
  color: $color-font-dark;
  // color: transparent;
  font-family: $font-b;
  font-size: 2.5rem;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 1.5;
  position: relative;
  // opacity: 0;
  @include view-min(576px) {
    margin-top: 2rem;
  }
  &--white {
    color: #fff;
    margin: 0 0 2.5rem 0;
  }
  &.about--title {
    animation: typing 5s steps(12) infinite;
    overflow: hidden;
  }
  &.services--title {
    animation: typing 5s steps(9) infinite;
    overflow: hidden;
  }
  &.performance--title {
     animation: typing 5s steps(14) infinite;
      overflow: hidden;
  }
  
}

@keyframes typing {
  0%, 90%, 100% {
    width: 0;
  }
  30% {
    width: 50%;
  }
  50%, 70% {
    width: 100%;
  }
}

.title-2 {
  color: $color-primary;
  // font-family: $font-black;
  font-weight: bolder;
  font-size: 3.5rem;
  margin: 2rem 0 1.5rem;
  &--mb0 {
    margin-bottom: 3rem;
  }
  &--footer {
    color: $color-fonts;
  }
}

.btn {
  @include btn-base;
  &--purple {
    background-color: $color-primary;
    &:hover {
      background-color: lighten($color-primary, 10%);
    }
    .btn__content p {
      color: #fff;
    }
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: $color-font-dark;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: lighten($color-fonts-2, 10%);
}

.pl-lg-7{
  @include view-min(992px) {
    padding-left: 7rem;
  }
}