// Colors

$color-primary: #6E39B7;
$color-fonts: #492974;
$color-fonts-2: #1C355E;
$color-font-dark: #112342;
$bg-btn: #E8E34A;
$bg-2: #F7FDFE;
$bg-3: #F7F8F8;
$bg-4: #EDEB8F;

// Typography

$font-r: 'bogle-reg', sans-serif;
$font-b: 'bogle-bold', sans-serif;
$font-black: 'bogle-black', sans-serif;

$basefontsize: 10px